---

bookkeeper_packages:
  - name: bookkeeper
    version: {{ bookkeeper_version }}
    url: https://archive.apache.org/dist/bookkeeper/bookkeeper-{{ bookkeeper_version }}/bookkeeper-server-{{ bookkeeper_version }}-bin.tar.gz
