---

bookkeeper_packages:
  - name: bookkeeper
    version: {{ bookkeeper_version }}
    url: file://{{ playbook_dir }}/../../bookkeeper-dist/server/target/bookkeeper-server-{{ bookkeeper_version }}-bin.tar.gz
