{% for host in groups.zookeeper -%}
{% set ip = hostvars[host]['private_ip'] -%}
{% set myid = hostvars[host]['zid'] -%}
server.{{ myid }}={{ ip }}:{{ zk_peerport }}:{{ zk_leaderport }}:participant;0.0.0.0:{{ zk_port }}
{% endfor -%}
